

.main-container{
    max-width: 1200px;
    background-color: #111111;
}

.fitness{
    width: 100%;
    /* background-color: #111111; */
    /* background-color: #777777; */
}

/* style body condition */


.navbar{
    display: flex; 
   /* justify-content: space-between; */ */

}
.item{
    list-style: none;
}
.nav-link{
   text-decoration: none;
   display: flex;
   color: #FFFFFF;
}
.home{
    color: #FFFFFF;
    background-color: #E6533C;
    font-weight: 500px;
    font-size: 1.125rem;
    border-radius: 5px;
    
}
.body{
    color: #E6533C;
    font-weight: Extra bold italic;
    font-size: 2.25rem;
}
.body-shap{
    display: flex;    
}
.body-shap-1{
    width: 650px;
    margin-left: 180px;
}
.body-header{
    font-weight: 800px;
    font-size: 4.875rem;
    color: #FFFFFF;
    /* margin-left: 180px; */
}
.content{
    color: grey;
    /* padding-top: 30px; */
    padding-bottom: 90px;
}
.shap{
font-style: oblique;
}
.button-1{
    background-color: #E6533C;
    color: #FFFFFF;
    width: 400px;
    height: 1.125rem;
    width: 230px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 180px;
   
}
.button-2{
    width: 400px;
    height: 1.125rem;
    width: 230px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 180px;
   
}
.body-image{
    width: 250px;
    height: 380px;
}
/* 2nd section styles */
.change-yourself{
    text-align: center;

}
.head-yourself{
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
}
.content-yourself{
    font-weight: 400px;
    font-size: 1rem;
    color: grey;
    margin-top: -20px;
}
.image-yourself, img{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 100px;
  margin-left: 50px;
}
.div-1, .div-2, .div-3, .div-4 h5{
    color: #FFFFFF;
}
.div-4, h5, p{
    color: #FFFFFF;
}
/* section-3rd */

.Run-container{
    display: flex; 
   color: #FFFFFF;
   margin-left: 120px; 
   margin-top: 70px;
} 
.run-head{
    font-weight: 600px;
    font-size: 3rem;
    counter-reset: skyblue;
}
.btn-run{
    background-color: #E6533C;
    color: #FFFFFF;
    width: 160px;
     height: 40px;
    font-size: 1.125rem;
    border-radius: 20px;
    border-style: none;
}
.run-content{
    margin-left: 50px;
}

/* BMI styles */
.bmi-content{
   text-align: center;
}
.bmi-head{
    font-weight: 500px;
    font-size: 3rem;
    color: #FFFFFF;
}
.bmi-peru{
    font-weight: 300px;
    font-size: 0.875rem;
    color: darkgrey;
}
/*table styles  */

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.calculator-table{
    color: #FFFFFF;
   
}
.table-form, th, td{
    border: 1.5px solid grey;
    border-collapse: collapse;
}
.calculator-table{
    margin-left: 120px;
    margin-top: 57px;
}
.form-head{
    font-weight: 400pc;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-botom: 50px;
}
.peru-form{
    margin-bottom: 40px;
}





